* {
    margin: 0px;
    padding: 0px;
}

p {
    color: red;
    font-size: 13px;
}
.botonesEjercicios {
    margin-left: 12vw;
    margin-top: 5vh;
}

header {
    height: 30px;
    background-color: chartreuse;
}

ul {
    display: inline;
    list-style: none;
}
.name {
    width: 200px;
}

.CUADRANTE {
    height: 75vh;
    background-color: rgba(254, 240, 115, 0.5);
    margin-top: 25px;
}

.offset-6 {
    margin-left: 0%;
}

#fondo {
    background-image: url(./gimnasioEscolar.jpeg);
    height: 95vh;
    background-position: center;
    background-size: cover;
}

#fondoFinal {
    background-image: url(./baloncesto\ ninos.jpeg);
    height: 95vh;
    background-position: center;
    background-size: cover;
}